<h1>Add a new car below</h1>
<form action = "/cars_added" method = "post">
  <label for="new-makeModel">Add a new Make/Model</label>
  <input id="new-makeModel" name= "new-makeModel" type = "text">
  <label for="new-miles">Add miles</label>
  <input id="new-miles" name= "new-miles" type = "number">
  <label for="new-price">Add price</label>
  <input id="new-price" name= "new-price" type = "number">
  <button type="submit">Submit</button>
</form>
