<h1>You've added a new car!</h1>
<p>@Model.GetMakeModel()<p>
<p>@Model.GetMiles()</p>
<p>@Model.GetPrice()</p>
<p><a href="/">Add another car</a></p>
<p><a href="/view_all_cars">View current cars</a></p>
