<h1>All Cars</h1>
<ul>
  @foreach (var car in Model)
  {
    <li>@car.GetMakeModel(), @car.GetMiles(), @car.GetPrice()</li>
  }
</ul>
<p><a href="/">Add another car</a></p>
<form action ="/cars_cleared" method="post">
  <button type="submit" name="button">Clear all cars</button>
</form>
